<div class="container">
  <header class="header" role="banner">


    <div class="header-logo">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    {% assign current = page.url | downcase | split: '/' %}




    <div class="header-menu">
      <nav class="nav">
        <ul>
          <li><a href="{{site.baseurl}}/one" {% if current[1]=='one' %}class='active' {% endif %}>1</a></li>
          <li><a href="{{site.baseurl}}/two" {% if current[1]=='two' %}class='active' {% endif %}>2</a></li>
          <li><a href="{{site.baseurl}}/three" {% if current[1]=='three' %}class='active' {% endif %}>3</a></li>
          <li><a href="{{site.baseurl}}/fabacademy" {% if current[1]=='FabAcademy' %}class='active' {% endif %}>Fab Academy</a></li>
            <li><a href="{{site.baseurl}}/project" {% if current[1]=='project' %}class='active' {% endif %}>Doctors of the Future</a></li>
          <li><a href="{{site.baseurl}}/about" {% if current[1]=='about' %}class='active' {% endif %}>Silvia</a></li>
        </ul>
      </nav>

    </div>
  </header>
</div>
