---
layout: default
---

<div class="container-large">
  <h1 class="text-center"></h1>
    <figure>
    <p align="center"><img src="images/landscape2.jpg" alt="" />
    </figure>
  <div class="content">
    {{ content }}
  </div>
</div>
