---
layout: default
---

<div class="container-small">

  <h1 class="text-center">One</h1>

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign one = site.one | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    {% for one in site.one %}
    <article>
      <h2 class="post-title"><a href="{{ one.url | relative_url }}">{{ one.title }}</a></h2>
      <div class="post-period">{{ one.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
